# NuGet packages
NLog.*
Newtonsoft.Json.*
ILMerge.*
CommandLineParser.*
CreateNewNuGetPackage*
_CreateNewNuGetPackage/
.nuget/
*.nupkg
packages/repositories.config

# Unnecessary compilation files/folders
*.pdb
obj/
Debug/
UnitTest/bin/
CommandLineTool/bin/Release/CommandLine.xml
CommandLineTool/bin/Release/CommandLineTool.exe
CommandLineTool/bin/Release/CommandLine.dll
CommandLineTool/bin/Release/Cielo24Merged.dll
.vs/

# Unittest reports
TestResults/